@import "tailwindcss";

@font-face {
  font-family: IranYekan;
  src: url("../../public/fonts/iranyekanwebregular\(fanum\).woff");
}

@theme {
  --font-iranyekan: "IranYekan", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #343a3f;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
}
